.auto_container {
  padding-block: 1rem;
  padding-inline: 0.5rem;

  position: sticky;
  top: 0;
  /* box-shadow: 0 0.5rem 1rem rgba(45, 45, 45, 0.12),
    0 0.25rem 0.5rem rgba(45, 45, 45, 0.16), 0 0 0.125rem rgba(45, 45, 45, 0.2);
  border-radius: 0.4rem; */
}

.sbtn,
.sbtn:focus {
  /* width: 95%; */
  border-radius: 0.5rem;
  background-color: var(--color-accent) !important;
  color: white !important;
}
.sbtn {
  padding-inline: 2rem;
}

/* .sbtn:focus {
  background-color: var(--color-accent) !important;
} */

.search_text_field_wrapper {
  border-radius: 5px;
  position: relative;
}

.search_text_field_wrapper.company_search {
  border: 1px solid var(--color-footer);
}
/*  Suggestion Container */

.sugggestionContainer {
  background-color: white;
  position: absolute;
  top: 110%;
  border-radius: 5px;
  box-shadow: 0 5px 7px rgb(124, 122, 122);
}

.sugggestionContainer li {
  list-style: none;
  padding-inline: 0.5rem;
}
